@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
  }

  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .container {
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 64px auto 64px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
  }

  .header {
    grid-area: h;
    background: linear-gradient(312deg, #14134e 0%, #512d5a 68%, #843b61 100%);
  }

  .content {
    grid-area: c;
  }

  .footer {
    z-index: -1;
    grid-area: f;
    background-color: #222326;
    color: white;
    font-size: 0.8em;
  }