.container {
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 200px repeat(3, 1fr);

    grid-template-areas: '. . . . i i i i . . . .' '. . n n . t t . g g . .'
      '. . n n . t t . g g . .' '. . n n . t t . g g . .'
      '. . n n . t t . g g . .';
  }

  .github {
    grid-area: g;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    z-index: -1;
  }

  .npmio {
    grid-area: n;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    z-index: -1;
  }

  .statistics {
    grid-area: t;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    z-index: -1;
  }

  .statisticsBox {
    box-shadow: 0 0 3pt 2pt #512d5a;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    align-content: center;
  }

  .statisticsBox > h2 {
    margin: 15px;
    border-bottom: 2px solid #14134e;
  }


  .plainText {
    color: aliceblue;
    text-decoration: none;
  }