.header {
  height: 100%;
  width: 90%;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  display: flex;
}

.header > div:nth-child(2) {
  margin-right: auto;
}

.header > div {
  margin: 15px;
  /* border-radius: 5px; */
  display: block;
  /* padding: 15px; */
}

div > a, div > a:hover, div > a:focus {
  /* margin: 15px;
    border-radius: 5px;
    display: block;
    padding: 15px; */
  color: aliceblue;
  text-decoration: none;
}
